body {
    background: rgb(187, 183, 211);
    font-family: lato;
}

#slider {
    width: 60%;
    position: relative;
    margin: 50px auto;
    overflow: hidden;
    box-shadow: 0 0 7px rgb(64, 65, 75);
}

#slider img {
    width: 100%;
}

.slide {
    display: none;
    animation: fade 3.5s;
}

.slide.active {
    display: block;
}

.text {
    color: #fff;
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    font-size: 20px;
}

.prev,.next {
    color: #fff;
    text-decoration: none;
    font-size: 40px;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}

.prev {
    left: 5px;
}

.next {
    right: 5px;
}

#dots {
    text-align: center;
}

.dot {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
}

.dot.active {
    background-color: rgb(49, 49, 53);
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}